@media only screen and (max-width: 648px) {
    img {
        margin-bottom: 10px;
    }
    .inf {
        text-align: center;
    }
    .imgProd {
        max-width: 100%;
        height: auto;
    }
    .img-produto {
        width: 98%;
    }
    .imgBox {
        width: 50%;
    }
}


/* @media only screen and (max-width: 648px min-width: 630px) {
    .img-produto {
        overflow: hidden;
        width: 80%;
    } */

@media only screen and (min-width: 601px) {
    .img-fluid {
        margin-left: 8%;
    }
}